/* Increase li-cite-author font size to match the rest of pub-list-item */
.li-cite-author {
  font-size: 1.2em !important;
}

/* Make all font in pub-list-item white in dark theme */
.dark .pub-list-item,
.dark .pub-list-item *,
.dark .pub-list-item a {
  color: #ffffff !important;
}

/* Make ancillary tags in tag cloud lighter on hover in dark theme */
.dark .article-tags a.ancillary-tag:hover,
.dark .article-tags-ancillary a:hover {
  color: #e0e0e0 !important;
  opacity: 1 !important;
}

/* Add yellowish background to multimedia and blog links */
#multimedia > div > div > div > div:nth-child(3) > div:nth-child(2) > a,
#blog > div > div > div.col-12.section-heading > p > span > a {
  background-color: #fef3c7 !important;
  padding: 2px 4px !important;
  border-radius: 2px !important;
}

/* Dark theme version of multimedia and blog links */
body.dark #multimedia > div > div > div > div:nth-child(3) > div:nth-child(2) > a,
body.dark #blog > div > div > div.col-12.section-heading > p > span > a {
  background-color: #854d0e !important;
  color: #fef3c7 !important;
}

/* Hover states for multimedia and blog links */
#multimedia > div > div > div > div:nth-child(3) > div:nth-child(2) > a:hover,
#blog > div > div > div.col-12.section-heading > p > span > a:hover {
  background-color: #fde68a !important;
}

body.dark #multimedia > div > div > div > div:nth-child(3) > div:nth-child(2) > a:hover,
body.dark #blog > div > div > div.col-12.section-heading > p > span > a:hover {
  background-color: #a16207 !important;
  color: #fffbeb !important;
}
