/* Override max-height for tags section */
#tags,
#tags.home-section,
#tags > .container > .row,
#tags > .container > .row > .col-12,
#tags > .container > .row > .col-lg-8 {
  max-height: none !important;
  height: auto !important;
  overflow: visible !important;
}
